* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background: #4279f0;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#aa_particles {
    z-index: 4;
    height: 100%;
    height: 100vh;
    background: #4279f0;
}

.aa_sec {
    direction: rtl;
    position: absolute;
    z-index: 5;
    top: 20%;
    right: 0;
    left: 0;
    margin: 0  auto;
}

.aa_txt {
    font: 100 9vh/1 'Miriam Libre', sans-serif;;
    text-align: center;
    color: #4279f0;
}

.aa_inner {
    padding: 0 2rem;
    text-transform: uppercase;
    background: #ffffff;
}

.aa_of {
    padding: 2rem;
    color: #ffffff;
    background: #4279f0;
}

.aa_header {
    padding: 2rem;
    color: #ffffff;
    background: transparent;
    font-family: 'Amatic SC', cursive;
    font-size: 13rem;
}

.aa_others {
    padding: 2rem;
    color: #ffffff;
    background: transparent;
    font-size: 25px;
}